{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-10">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Gráfico - Temperatura [ºc] vs Tiempo [s]</h3>
            </div>
            <div class="card-body">
                <div id="canvas-holder" style="height:300px; margin:auto;">
                    <canvas id="promedioChart"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('terminarExperimento') }}" class="btn btn-secondary">Terminar Experimento</a>
            </div>
        </div>
    </div>
    <div class="col-2 align-self-center">
        <div class="card">
            <div class="card-body">
                <div id="div1" class="row">
                    <h6>C.E.N = </h6><h6 id="coeficiente_newton_id"></h6>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        //40 COLORES
        var default_colors = ['#3366CC','#DC3912','#FF9900','#109618','#990099','#3B3EAC','#0099C6','#DD4477','#66AA00','#B82E2E','#316395','#994499','#22AA99','#AAAA11','#6633CC','#E67300','#8B0707','#329262','#5574A6','#3B3EAC','#795548','#CDDC39','#00BCD4','#8BC34A','#FF5722','#FF9800','#4CAF50','#3F51B5','#673AB7','#03A9F4','#9C27B0','#BF360C','#64DD17','#A7FFEB','#7C4DFF','#9FA8DA','#EC407A','#FDD835','#BCAAA4','#E65100'];				
        var ctx = document.getElementById("promedioChart").getContext("2d");;
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                    labels: [],
                    datasets: [
                    {
                        label: "Temperatura Pieza",
                        fill:false,
                        backgroundColor: default_colors[25],
                        borderColor: default_colors[25],
                        lineTension:0.1,
                        yAxisID:0,
                    }

                    ]
            },
            options: {
                legend: {
                    display: true
                },
                
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                            display: true,
                            position: 'right',
                            ticks: {
                                beginAtZero: true,
                            }
                        }]
                },
                animation: false,
                elements: { point: { radius: 0 } },
            }
        });
        
        /*$("#toggle").click(function() {
            myChart.data.datasets.forEach(function(ds) {
            ds.hidden = !ds.hidden;
        });
        myChart.update();
        });*/

        
        var tiempo = Date.now();
        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push( data );
            });
            chart.update();
        }

        function updateCoefficient(temp_actual){
            var temp_inicial_material = {{ configCalorimetro['DEFAULT']['temp_inicial_material'] }};
            var temp_ambiente = {{ configCalorimetro['DEFAULT']['temp_ambiente'] }};
            if(temp_actual - temp_ambiente > 5)
            {
                var coeficiente_newton = Math.log(temp_inicial_material-temp_ambiente)/((Date.now()-tiempo)/1000);          
                document.getElementById("coeficiente_newton_id").innerHTML = coeficiente_newton.toFixed(2) + " s<sup>-1</sup>";
            }
        }

        setInterval(function(){                
	        $.get("{{url_for('temp_term')}}", function(result){
                if(result != 0){
                    updateCoefficient( result );
                    var mLabel = "";
                var tiempoAux = Math.round((Date.now()-tiempo)/1000);
                if(tiempoAux % 15 == 0){
                    mLabel = tiempoAux/60;
                }
		        addData(myChart, mLabel, result);
		    }
		    });                
        }, 500);
    </script>
{% endblock %}