{% extends "base.html" %}


{% block title %}
    Inicio
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card card-primary">
           <div class="card-header">
                <h5 class="card-title">Menú ({{ ip_addr }})</h5>
            </div>
            <div class="card-body">
                <div class="row justify-content-center" style="margin-top: 36px">
                    <div class="col-sm-6">
                        <a href="start">
                            <div class="btn btn-block btn-primary btn-lg">
                                <h4 >
                                    Comenzar
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 61px">
                    <div class="col-sm-6">
                        <a href="config">
                            <div class="btn btn-block btn-primary btn-lg">
                                <h4 >
                                    Configuración
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 61px; margin-bottom: 36px">
                    <div class="col-sm-6">
                        <a href="datos">
                            <div class="btn btn-block btn-primary btn-lg">
                                <h4 >
                                    Resultados
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
