{% extends "base.html" %}

{% block title %}
    Modos
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <h5 class="card-title">Modos</h5>
            </div>
            <div class="card-body">
                <div class="row justify-content-center" style="margin-top: 61px">
                    <div class="col-sm-6">
                        <a href="datos">
                            <div class="btn btn-block btn-primary btn-lg">
                                <h4 >
                                    Calor Específico
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>

                
                <div class="row justify-content-center" style="margin-top: 61px; margin-bottom: 61px">
                    <div class="col-sm-6">
                        <a href="">
                         
                            <div class="btn btn-block btn-primary btn-lg">
                                <h4> Coeficiente de Enfriamiento</h4>                   
                            </div>
                       
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="card-footer">
                <a href="../" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

