{% extends "base.html" %}

{% block title %}
    Datos Pasados
{% endblock %}

{% block content %}


<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="card card-primary">
           <div class="card-header">
                <h5 class="card-title">Experimentos Pasados</h5>
            </div>
            <div class="card-body">
                <ul>
                    {% for experimento in experimentos_pasados %}
                    <li> {{experimento}}
                    <div style="margin: 10px">     
                        <a href="{{ url_for('static', filename='plots_pdf/enfriamiento/'+experimento+'.pdf') }}">PDF</a></br>
                        <a href="{{ url_for('static', filename='plots_csv/enfriamiento/'+experimento+'.csv') }}">CSV</a></br>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer">
                <a href="../" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>

    
        
        
    
{% endblock %}

