{% extends "base.html" %}

{% block title %}
    Configuración
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12">
    <form action="config" method="POST">
        <div class="card card-primary">
            <div class="card-header">
                <h5 class="card-title">{{experimento}}</h5> 
            </div>
            <div class="card-body" style="height:340px;"> 
                    <iframe id="iframepdf" width=100% height=320px src="{{ url_for('static', filename='plots_pdf/enfriamiento/'+experimento+'.pdf') }}"></iframe>
            </div>
            <div class="card-footer">
                <a href="{{url_for('enfriamiento_resultados')}}" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}